$gold-dark: #b88746;
$gold-light: #fdf5a6;
$primary: $gold-dark;
$dark: #1b1b1b;
$link: #fff;
$link-hover: $gold-light;
$footer-padding: 2rem 1.5rem;
$box-shadow: 0 0.5em 1em -0.125em rgba(#000, 0.2), 0 0px 0 1px rgba(#000, 0.02);
$table-cell-border: 0px;

$card-color: $link;
$card-background-color: #000;
$card-content-padding: 0.5rem;
$navbar-item-hover-color: $dark;
$navbar-item-active-color: $gold-dark;

@import "bulma/bulma";
html,
body {
  padding: 0;
  margin: 0;
  // font-family:  Helvetica Neue, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
  background: $dark;
}

tr,
td {
  border: 0;
  border-style: hidden;
  padding: 0 0.25em 0.5em !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page-wrapper {
  // min-height: 90vh;
}
.footer {
  border-top: $gold-dark 1px solid;
}

.navbar {
  box-shadow: 0px -20px 50px $gold-light;
}

.narrow-container {
  max-width: 68em;
  margin: 0 auto;
}

.gradient-text {
  background-color: #fdf5a6;
  background-image: linear-gradient(to right, $gold-dark, $gold-light);
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.poster {
  border: #fff 1px solid;
  border-radius: 0.5em;
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: 342px;
  max-height: 342 * 1.75px;
  margin: auto;
  display: flex;
  // width: 250/75px;
}

.poster-link:hover {
  img {
    opacity: 0.7 !important;
    filter: alpha(opacity=70) !important; /* For IE8 and earlier */
    box-shadow: 0 0 0px #000000 !important;
  }
}

.info-tag {
  background-color: hsl(0, 0%, 14%);
  color: $white;
  border-radius: 5px;
  margin: 0 0.5em 0.5em 0;
  display: inline;
  white-space: nowrap;
  padding: 0.25em;
}

.card-image {
  display: block;
  height: 260px;
}

.picture-card {
  .card-content {
  display: inline-block;
  padding: 0.5rem;
  width: 100%;
  background-color: rgba($dark, 0.5);
  position: absolute;
  bottom: 0px;
}

.card {
  &:hover {
    .card-content {
      display: none;
      transition: 0.5s;
    }
  }
}
}


.stat-card {
  .card {
    background-color: rgba($dark, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    .card-content {
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .card-footer {
      border: none;
      position: absolute;
      bottom: 0;
    }
  }
}